<div class="paymentsContent">
    <div class="container">
        <h3 class="main-head">Online Payments</h3>
        <div class="row  ">
            <div class="col-6 details1">
                <label id="name">Name : <%= studentName%></label>
                </br>
                <label id="program">Stream : <%= studentStream%></label>
                </br>
                <label id="dept">Branch : <%= studentBranch%></label>
            </div>
            <div class="col-6 details2">
                <label id="phn">Phone no : <%= studentMobileNumber%></label>
                </br>
                <label id="year">Year : <%= studentYear%></label>
            </div>
        </div>
        <div class="content">
            <div class="payment-title">
                <h2 class="payment-content">PLEASE CONSIDER THESE POINTS:</h2>
            </div>
            <ol>
                <li>After Successful payment message please wait for 30 secs to get the receipt. Don't close or Back button immediately.</li>
                <li>If you Paid the fee and still showing fee due : Please click here to check the status.</li>
                <li>If you paid the fee through cash challan please wait for 1-2 working days for confirmation from Bank side and check above link to check status.</li>
                <li>For further assistance please contact accounts department.</li>
            </ol>
        </div>
    </div>
</div>